{% extends 'base.html' %}

{% block body %}
    <h1>Search Results</h1>
    
    {% if boats %}
        {% for boat in boats %}
            <ul>
                <li><strong>ID:</strong> {{ boat[0] }}</li>
                <li><strong>Name:</strong> {{ boat[1] }}</li>
                <li><strong>Type:</strong> {{ boat[2] }}</li>
                <li><strong>Owner ID:</strong> {{ boat[3] }}</li>
                <li><strong>Rental Price: </strong> {{ boat[4] }}</li>
            </ul>
        {% endfor %}
    {% else %}
        <p>No boats found matching your search.</p>
    {% endif %}
{% endblock %}
